.title {
        font-weight: bold;
        font-size: 20px;
}

#intro {
        font-style: italic;
        font-size: 25px;
}

#education {
        color: black;
}

#prof_exp {
        color: gray;
}
